:root {
    --basic-red: #EE3643;
    --basic-dark: #293449;
    --basic-green: #63A63E;
    --basic-light: #F1F5F7;
    --basic-white: #FFFFFF;
    --basic-grey: #B7BFC8;
    --basic-dark-grey: #32425C;
    --basic-black: #000000;
    --basic-ylellow: #FFBF47;
    --basic-blue: #3BBCE3;
    --basic-purple: #DC91D8;
    --basic-light-green: #8ED78F;
    --basic-light-pink: #F9F5F0;
    --basic-extra-grey: #A9A9A9;
    --basic-light-ylellow: #FFD180;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Cuprum", "Arial", "sans-serif";
    font-size: 18px;
    line-height: 24px;
    font-weight: 400, 700;
    color: #FFFFFF;
    text-transform: capitalize;

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    }

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    }

.page {
    height: 100%;
}

.main-header {
    display: grid;
    color: #FFFFFF;
    background-color: #F1F5F7;
    margin-bottom: 70px;
}

.main-navigation {
    display: grid;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.main-header-logo {
    order: 0;
    justify-self: grid-start;
    color: #FFFFFF;
    background-color: #EE3643;
    width: 220px;
    height: 47px;
}

.index {
    height: 42px;
    width: 940px;
    display: grid;
    grid-template-columns: 1fr min-content;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header-bar {
    background-color: #000000;
    width: 1200;
}

.main-navigation-list {
    list-style: none;
}

.main-navigation-iteam {
    background-color: #63A63E;
    width: 150px;
    height: 42px;
}

.main-navigation-iteam a {
    color: #FFFFFF;
}

.main-heading {
    font-style: italic;
    font-family: "cuprum";
    color: #EE3643;
    width: 197px;
    height: 71px;
    font-size: 16px;
    line-height: 23px;
}

.information {
    width: 940px;
    display: grid;
    grid-template-columns: min-content 1fr;
    margin: 0 auto;
    padding: 0 10px;
}

.contacts-phone {
    color: #EE3643;
    font-family: "cuprum";
    font-size: 21px;
    line-height: 30px;
}

.contacts-address {
    color: #32425C;
    font-family: "cuprum";
    font-size: 14px;
    line-height: 24px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-navigation a {
    font-family: "cuprum";
    font-size: 21px;
    line-height: 21px;
    background-color:#FFFFFF;
    color: #000000;
    text-align: center;
}

.login-link {
    width: 121px;
    height: 45px;
}

.login-registration {
    width: 281px;
    height: 45px;
}

.main-navigation-wrapper {
    font-size: 18px;
    line-height: 24px;
    font-family: "cuprum";
    color: #FFFFFF;
    background-color: #32425C;
    width: 940px;
    height: 60px;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: 70px;
}

.site-navigation a {
    color: #FFFFFF;
}

.site-navigation a: hover,
.site-navigation a: focus,
.user-navigation a: hover,
.user-navigation a: focus {
    background-color: #32425C;
}

main {
    background-color: #FFFFFF;
}

.container {
    width: 940px;
    margin: auto;
    padding: 0;
}

.promotions {
    width: 940px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px 123px 123px;
}

.materials {
    background-color: #FFBF47;
    color: #FFFFFF;
    width: 300px;
    height: 123px;
    margin-bottom: 50px;
}

.materials h3 {
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}    

.materials button {
    background-color: transparent;
    text-transform: uppercase;
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

.materials button:hover,
.materials button:focus,
.materials button:active {
    background-color: #FFD180;
}

.instrument {
    background-color: #3BBCE3;
    color: #FFFFFF;
    width: 300px;
    height: 123px;
    margin-bottom: 50px;
}

.instrument h3 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}    

.instrument button {
    background-color: transparent;
    text-transform: uppercase;
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}    

.instrument button:hover,
.instrument button:focus,
.instrument button:active {
    background-color: #87CEEB;
}

.technics {
    background-color: #DC91D8;
    color: #FFFFFF;
    width: 300px;
    height: 123px;
    margin-bottom: 50px;
}

.technics h3 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}    

.technics button {
    background-color: transparent;
    text-transform: uppercase;
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}    

.technics button:hover,
.technics button:focus,
.technics button:active {
    background-color: #D8BFD8;
}

.discounts {
    grid-column: 3;
    grid-row: 2;
    background-color: #8ED78F;
    color: #FFFFFF;
    width: 300px;
    height: 123px;
    margin-bottom: 50px;
}

.discounts h3 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}    

.discounts button {
    background-color: transparent;
    text-transform: uppercase;
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}    

.discounts button:hover,
.discounts button:focus,
.discounts button:active {
    background-color: #98FB98;
}

.delivery {
    grid-column: 3;
    grid-row: 3;
    background-color: #FFBF47;
    color: #FFFFFF;
    width: 300px;
    height: 123px;
    margin-bottom: 50px;
}

.delivery h3 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}    

.delivery button {
    background-color: transparent;
    text-transform: uppercase;
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}    

.delivery button:hover,
.delivery button:focus,
.delivery button:active {
    background-color: #FFD180;
}

.block-punchers {
    grid-column: 1/ 2;
    grid-row: 2/ 3;
    background-color: #32425C;;
    background-image: url("img\jpg\perforatos.jpg");
    width: 620px;
    height: 266px;
}

.block-punchers h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.block-punchers p {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.block-punchers button {
    background-color: #EE3643;
    text-transform: uppercase;
    width: 192px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}    

.block-punchers button:hover,
.block-punchers button:focus,
.block-punchers button:active {
    background-color: #EE3643;
}

.block-drill {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #A9A9A9;
    background-image: url("img\jpg\Object (1).jpg");
    width: 620px;
    height: 266px;
}

.block-drill h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.block-drill p {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.block-drill button {
    background-color: #EE3643;
    text-transform: uppercase;
    width: 192px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}    

.block-drill button:hover,
.block-drill button:focus,
.block-drill button:active {
    background-color: #EE3643;
}

.hits {
    background-color: #F9F5F0;
    display: grid;
    grid-template-columns: 1fr min-content;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    width: 940px;
    height: 89px;
}

.hits h2 {
    text-transform: uppercase;
    color: #32425C;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.hits button {
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EE3643;;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    width: 192px;
    height: 38px;
    text-align: center;
    margin-top: 25px;
}

.best-punchers {
    width: 940px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-gap: 20px;
}

.products-puncher-9000 {
    border: 2px solid lightgrey;
    width: 220px;
    height: 318px;
}

.products-puncher-9000 h3 {
    color: #000000;
    text-transform: capitalize;
    font: "PT sans";
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.products-puncher-9000 p {
    color: #A9A9A9;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    font: PT sans;
    text-decoration: line-through;
}

.products-puncher-9000 button {
    color: #FFFFFF;
    background-color: #EE3643;
    font: PT sans;
    text-align: center;
    width: 141px;
    height: 38px;
    font-weight: bold;
}

.products-puncher-3000 {
    grid-column: 2;
    border: 2px solid lightgrey;
    width: 220px;
    height: 318px;
}

.products-puncher-3000 h3 {
    color: #000000;
    text-transform: capitalize;
    font: "PT sans";
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.products-puncher-3000 p {
    color: #A9A9A9;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    font: "PT sans";
    text-decoration: line-through;
}

.products-puncher-3000 button {
    color: #FFFFFF;
    background-color: #EE3643;
    font: "PT sans";
    text-align: center;
    width: 141px;
    height: 38px;
    font-weight: bold;
}

.products-puncher-6000 {
    border: 2px solid lightgrey;
    width: 220px;
    height: 318px;
}

.products-puncher-6000 h3 {
    color: #000000;
    text-transform: capitalize;
    font: "PT sans";
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.products-puncher-6000 p {
    color: #A9A9A9;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    font: PT sans;
    text-decoration: line-through;
}

.products-puncher-6000 button {
    color: #FFFFFF;
    background-color: #EE3643;
    font: "PT sans";
    text-align: center;
    width: 141px;
    height: 38px;
    font-weight: bold;
}

.products-puncher-2000 {
    border: 2px solid lightgrey;
    width: 220px;
    height: 318px;
}

.products-puncher-2000 h3 {
    color: #000000;
    text-transform: capitalize;
    font: "PT sans";
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.products-puncher-2000 p {
    color: #A9A9A9;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    font: PT sans;
    text-decoration: line-through;
}

.products-puncher-2000 button {
    color: #FFFFFF;
    background-color: #EE3643;
    font: PT sans;
    text-align: center;
    width: 141px;
    height: 38px;
    font-weight: bold;
}

.producers {
    background-color: #F9F5F0;
    display: grid;
    grid-template-columns: 1fr min-content;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    width: 940px;
    height: 89px;
}

.producers h2 {
    text-transform: uppercase;
    color: #32425C;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.producers button {
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EE3643;;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    width: 192px;
    height: 38px;
    text-align: center;
    margin-top: 25px;
}

.developers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0px;
    width: 940px;
    column-gap: 20px;
    row-gap: 20px;
}

.bosch {
    border: 2px solid lightgrey;
    width: 220px;
    height: 145px;
    text-align: center;
    padding-top: 50px;
}

.makita {
    border: 2px solid lightgrey;
    width: 220px;
    height: 145px;
    text-align: center;
    padding-top: 50px;
}

.dewalt {
    border: 2px solid lightgrey;
    width: 220px;
    height: 145px;
    text-align: center;
    padding-top: 50px;
}

.interskol{
    border: 2px solid lightgrey;
    width: 220px;
    height: 145px;
    text-align: center;
    padding-top: 50px;
}

.hitachi {
    border: 2px solid lightgrey;
    width: 220px;
    height: 145px;
    text-align: center;
    padding-top: 50px;
}

.lg {
    border: 2px solid lightgrey;
    width: 220px;
    height: 145px;
    text-align: center;
    padding-top: 50px;
}

.aeg {
    border: 2px solid lightgrey;
    width: 220px;
    height: 145px;
    text-align: center;
    padding-top: 50px;
}

.metabo {
    border: 2px solid lightgrey;
    width: 220px;
    height: 145px;
    text-align: center;
    padding-top: 50px;
}

.services {
    background: #F1F5F7;
    padding-left: 270px;
}

.services h3 {
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font: "cuprum";
    font-weight: normal;
    margin-top: 50px;
}

.services p {
    color: #000;
    text-transform: lowercase;
    font-size: 13px;
    line-height: 24px;
    font: "pt sans";
    font-weight: normal;
    margin-bottom: 50px;
}

.services-delivery button {
    background-color: #FFFFFF;
    color: #32425C;
    font-size: 21px;
    line-height: 30px;
    font: "cuprum";
    font-weight: bold;
    width: 240px;
    height: 61px;
    text-align: left;
    padding: 20px;
}

.services-guarantee button {
    color: white;
    background: #32425C;
    font-size: 21px;
    line-height: 30px;
    font: cuprum;
    font-weight: bold;
    width: 240px;
    height: 61px;
    text-align: left;
    padding: 20px;
}

.services-credit button {
    color: #FFFFFF;
    background: #32425C;
    font-size: 21px;
    line-height: 30px;
    font: cuprum;
    font-weight: bold;
    width: 240px;
    height: 61px;
    text-align: left;
    padding: 20px;
}

.services ul {
    list-style: none;
}

.transportation-services {
    background: #F1F5F7;
}

.service-department {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    width: 940px;
    margin-left: 220px;
}

.service-department ul {
    list-style: none;
}

.service-department img {
    margin-top: 20px;
}

.car-delivery h2 {
    color: #32425C;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font: "cuprum";
    font-weight: normal;
}

.car-delivery p {
    color: #000;
    text-transform: lowercase;
    font-size: 13px;
    line-height: 24px;
    font: "pt sans";
    font-weight: normal;
}

.car-delivery {
    list-style: none;
}

.info {
    width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.info h2 {
    color: #000000;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font: "cuprum";
    font-weight: normal;
}

.info-technomart p {
    color: #000;
    text-transform: lowercase;
    font-size: 13px;
    line-height: 24px;
    font: "pt sans";
    font-weight: normal;
}

.info-technomart ul {
    color: #000;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 24px;
    font: "cuprum";
    font-weight: normal;
}

.button-1 {
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EE3643;;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    width: 220px;
    height: 38px;
    text-align: center;

} 

.button-2 {
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EE3643;;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    width: 300px;
    height: 38px;
    text-align: center;
    margin-top: 30px;
}

.contacts {
    padding-left: 50px;
}

.contacts p {
    color: #000;
    text-transform: lowercase;
    font-size: 13px;
    line-height: 24px;
    font: "pt sans";
    font-weight: normal;
}

.contacts h2 {
    color: #000000;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font: "cuprum";
    font-weight: normal;
}

.footer-container-wrapper {
    width: 1200;
    background: #32425C;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 10px;
    width: 940px;
    margin-left: 255px;
}

.main-footer {
    background: #32425C;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 24px;
    font: "cuprum";
    font-weight: normal;
}

.main-footer-logo {
    order: 0;
    justify-self: grid-start;
    color: #FFFFFF;
    background-color: #EE3643;
    width: 220px;
    height: 47px;
}

.main-footer p {
    color: #F3F7F9;
}

.footer-contacts-phone {
    color: #F3F7F9;
}

.footer-container-1 a {
    color:#F1F5F7;
}

.footer-container-1 li {
    list-style: none;
}

.footer-container-2 a {
    color: #FFD180;
}

.footer-container-2 li {
    list-style: none;
}

.footer-block-contacts-wrapper {
    background: #293449;
    width: 1200;
}

.footer-block-contacts {
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 18px;
    font: "cuprum";
    font-weight: normal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 940px;
    margin-left: 255px;
}

.social-button li {
    list-style: none;
}

.social-button {
    justify-self: center;
}

.feedback a {
    color: #FFD180;
}

.founder a {
    color: #FFD180;
}







